pkgbase = ditana-config-logseq
	pkgdesc = Logseq configuration with gpt3-openai plugin using local Ollama instance
	pkgver = 1.14.2
	pkgrel = 1
	arch = any
	license = AGPL-3.0-or-later AND MIT
	makedepends = npm
	makedepends = git
	depends = logseq-desktop-bin
	source = logseq-plugin-gpt3-openai.json
	sha256sums = SKIP

pkgname = ditana-config-logseq
